/* http://meyerweb.com/eric/tools/css/reset/ 
  v2.0 | 20110126
  License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:focus {
  outline: none;
}

a {
  text-decoration: none;
}

input {
  border: none;
}

input[type='button'] {
  cursor: pointer;
}

button {
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

html, body {
  font-family: "Michrosoft JhenHei", sans-serif;
  background-color: #F5F5F5;
}

.wrap {
  position: relative;
  min-width: 1024px;
  min-height: 100%;
}

.container {
  width: 1024px;
  margin: 0 auto;
}

.calculator-top {
  height: 300px;
  background-color: #424242;
}

.calculator-top .container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo h1 {
  display: inline-block;
}

.logo h1 a {
  display: block;
  width: 117px;
  height: 117px;
  background: url(../images/BMICLogo.png) no-repeat center;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}

.calculator-form {
  margin-right: 53px;
  margin-left: 97px;
}

.calculator-form .form-group {
  margin-bottom: 23px;
}

.calculator-form .form-group:last-child {
  margin-bottom: 0;
}

.calculator-form .form-group label {
  display: block;
  margin-bottom: 7px;
  color: #FFD366;
  font-size: 18px;
}

.calculator-form .form-group input {
  display: block;
  width: 250px;
  height: 40px;
  padding: 8px 16px;
  font-size: 24px;
  color: rgba(255, 255, 255, 0.8);
  background: rgba(255, 255, 255, 0.18);
  border: 2px solid #FFD366;
  border-radius: 10px;
}

.calculator-form .form-group input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.calculator-form .form-group input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.calculator-form .form-group input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.calculator-form .form-group input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.calculator-answer #calculatorBtn {
  display: block;
  width: 120px;
  height: 120px;
  font-size: 24px;
  background: #FFD366;
  color: #424242;
  border-radius: 50%;
}

.calculator-answer #calculatorBtn:hover {
  -webkit-box-shadow: 0 1px 6px 3px rgba(255, 195, 49, 0.64);
          box-shadow: 0 1px 6px 3px rgba(255, 195, 49, 0.64);
}

.calculator-answer #calculatorBtn:active {
  background: #DEA921;
}

.calculator-answer #calculatorBtn:focus {
  outline: none;
}

.calculator-answer .calculator-answer-container {
  position: relative;
  display: none;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.calculator-answer .calculator-answer-container .calculator-number {
  position: relative;
  width: 120px;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 18px;
  text-align: center;
  border-radius: 50%;
  border: 6px solid;
}

.calculator-answer .calculator-answer-container .calculator-number span {
  font-size: 14px;
}

.calculator-answer .calculator-answer-container .calculator-number #number {
  margin-bottom: 5px;
  font-size: 32px;
}

.calculator-answer .calculator-answer-container .calculator-number .calculator-return {
  position: absolute;
  right: 0;
  bottom: 0;
  display: block;
  width: 35px;
  height: 35px;
  background-image: url(../images/icons_loop.png);
  background-repeat: no-repeat;
  background-position: center center;
  border: 3px solid #424242;
  border-radius: 50%;
}

.calculator-answer .calculator-answer-container .calculator-degree {
  font-size: 32px;
}

.calculator-history {
  padding-top: 48px;
  padding-bottom: 58px;
}

.calculator-history h2 {
  margin-bottom: 36px;
  font-size: 24px;
  text-align: center;
}

.record-list {
  width: 624px;
  margin: 0 auto;
}

.record-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 21px 12px;
  margin-bottom: 16px;
  background-color: #ffffff;
  border-left: 7px solid;
}

.record-list li span {
  font-size: 20px;
  color: #4a4a4a;
}

.record-list li .sm-txt {
  margin-right: 7px;
  font-size: 12px;
  color: #424242;
}

.record-list li a {
  display: block;
  padding: 8px;
  font-size: 14px;
  color: #424242;
  background-color: #FFD366;
}

.record-list li a:hover, .record-list li a:active {
  background: #DEA921;
}

.footer {
  height: 90px;
  padding-top: 17px;
  padding-bottom: 18px;
  text-align: center;
  background-color: #FFD366;
}
