@import "reset";
@import "clearfix";
@import "box-sizing";
@import "grid";

$gray: #424242;
$yellow: #FFD366;

body {
  font-family: '微軟正黑體';
}

input {
  font-family: '微軟正黑體';
}

h2 {
  font-size: 24px;
}

.wrap {
  max-width: 100%;
  background-color: $gray;  
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  @include clearfix;
}

.main {
  height: 300px;
  background-color: $gray;
  @include iphone6plus {
    height: auto;
    padding: 30px;
  }
}

.logo {
  float: left;
  margin: 92px 97px 92px 173px;
  @include pad {
    margin-left: 50px;
    margin-right: 50px;
  }
  @include iphone6plus {
    position: relative;
    float: none;
    margin: 0;
    @include clearfix;
  }
  h1 {
    width: 117px;
    height: 117px;
    background: url(../images/BMICLogo.png) no-repeat;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
    float: right;
  }
}

.calculator {
  float: left;
  margin-top: 73px;
  margin-bottom: 73px;
  @include clearfix;
  @include iphone6plus {
    float: none;
  }
  label {
    display: block;
    margin-bottom: 7px;
    color: $yellow;
    font-size: 18px;
  }
  .input-box {
    display: block;
    padding: 8px 16px;
    font-size: 24px;
    color: rgba(255,255,255,0.50);
    background: rgba(255,255,255,0.18);
    border: 2px solid $yellow;
    border-radius: 10px;
    @include iphone6plus {
      width: 100%;
    }
    &:focus {
      outline: none;
    }
  }
  #height {
    margin-bottom: 23px;
  }
}

.btn {
  float: left;
  margin-top: 92px;
  margin-bottom: 88px;
  margin-left: 53px;
  @include pad {
    margin-left: 38px;
  }
  @include iphone6plus {
    float: none;
    margin: 0;
    text-align: right;
  }
  #calculatorBtn {
    display: block;
    width: 120px;
    height: 120px;
    font-size: 24px;
    background: $yellow;
    color: $gray;
    border: none;
    border-radius: 50%;
    &:hover {
      box-shadow: 0 1px 6px 3px rgba(255,195,49,0.64);
      cursor: pointer;
    }
    &:active {
      background: #DEA921;
    }
    &:focus {
      outline: none;
    }
  }
  .showAnswer {
    display: none;
    position: relative;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 6px solid;
  }
  #answer  {
    position: absolute;
    top: 37px;
    left: 13px;
    text-align: center;
    font-size: 32px;
    span {
      display: block;
      margin-top: 5px;
      font-size: 14px;
    }
    .reset-icon {
      display: block;
      width: 35px;
      height: 35px;
      transform: translate(67px, -15px);
      border-radius: 50%;
      font-size: 20px;
      color: $gray;
      border: 3px solid $gray;
      background-color: #86D73E;
      .fas {
        transform: translateY(4px);
      }
    }
  }
  #showClassification {
    position: absolute;
    top: 38px;
    transform: translateX(128px);
    white-space: nowrap;
    font-size: 32px;
  }
}

.record {
  background-color: #F5F5F5;
  padding-top: 48px;
  padding-bottom: 58px;
  @include iphone6plus {
    display: none;
  }
  h2 {
    text-align: center;
    margin-bottom: 36px;
  }
}

.record-list {
  width: 700px;
  margin: 0 auto;
  li {
    padding: 21px 12px;
    margin-bottom: 16px;
    background: #FFFFFF;
    border-left: 7px solid;
    @include clearfix;
    span {
      transform: translateY(5px);
      &:nth-child(1) {
        width: 100px;
      }
      &:nth-child(2) {
        margin-left: 20px;
      }
      &:nth-child(4),
      &:nth-child(6) {
        margin-left: 42px;
      }
      &:nth-child(5) {
        width: 60px;
      }
      &:nth-child(7) {
        width: 75px;
      }
      &:nth-child(8) {
        width: 70px;
        margin-left: 16px;
      }
    }
    .regu-txt {
      font-size: 12px;
      display: block;
      float: left;
      transform: translateY(10px);
      margin-right: 7px;
    }
    .new-txt {
      font-size: 20px;
      display: block;
      float: left;
    }
    a {
      display: block;
      float: right;
      font-size: 14px;
      color: $gray;
      background-color: $yellow;
      padding: 8px;
      &:hover {
        background: #DEA921;
      }
    }
  }
}

.footer {
  height: 100px;
  background-color: $yellow;
}